*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


span{
    background: #5bff71;
    width: 15px;
    height: 100px;
    display: inline-block;
    margin: 0 2px;
   align-items: center;
   position: relative;
   top: 40vh;
   left: 80vh;
   padding: 30px;
   
}
body{
    background: #2a2a2a;
}

span:nth-child(1){
    animation: grow 0.5s -0.45s ease-in-out alternate infinite;
}
span:nth-child(2){
    animation: grow 0.5s -0.3s ease-in-out alternate infinite;
}
span:nth-child(3){
    animation: grow 0.5s -0.15s ease-in-out alternate infinite;
}
span:nth-child(4){
    animation: grow 0.5s -0s ease-in-out alternate infinite;
}

@keyframes grow{
    to{
        transform: scaleY(2);
    }
}